body {
  background-color: #eeeeee;
}
div.content {
  overflow: auto;
}
.row {
  margin-left: 0px;
}
div.welcome {
  margin-top: 30px;
  min-height: 50px;
}
.info {
  font-size: 24pt;
  color: #b5b5b5;
  text-align: center;
}
div.event {
  border: 1px solid #b1b1b1;
  background-color: #ededed;
  border-radius: 5px;
  background-image: -moz-linear-gradient(top, #f1f1f1, #fefefe);
  background-image: -ms-linear-gradient(top, #f1f1f1, #fefefe);
  background-image: -o-linear-gradient(top, #fefefe, #f5f5f5);
  background-image: -webkit-linear-gradient(top, #ededed, #fdfdfd);
  background-repeat: repeat-x;
  padding: 10px 20px 20px 20px;
  margin: 0px 10px 20px 0px;
}
div.event.shadow {
  position: relative;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
}
footer {
  color: #b1b1b1;
  text-align: center;
}

footer a {
  color: #b0b0b0;
}
footer a:hover {
  color: #7e7e7e;
  text-decoration: none;
}
@media (max-width: 480px) {
  body {
    padding: 0px;
  }
}
@media (max-width: 768px) {
  body {
    padding: 0px;
  }
}
@media (min-width: 980px) {
  div.content {
    margin-top: 45px;
    min-height: 350px;
  }
}
@media (min-width: 1200px) {  
  div.content {
    margin-top: 45px;
    min-height: 350px;
  }
}
.navbar-fixed-top {
  z-index: 1020;
}
