<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Informant</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/favicon.ico">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Informant</a>
          <div class="nav-collapse">
            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">admin <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/oauth/grant" id="btnGithubAuth">Github Authorization</a></li>
                  <li><a href="#modalAddRepo" data-toggle="modal">Add Repository</a></li>
                  <li id="enable-notifications" class="hide"><a href="#" id="btn-enable-notifications">Enable Notifications</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <div id="messages" class="hide"></div>
        <div class="row">
          <div class="welcome info">
            There are no events
          </div>
          <div id="events">
          </div>
        </div>
      </div>
    </div> <!-- /container -->
    <footer>
      <div>&copy; Evan Hazlett</div>
      <div><a href="https://github.com/ehazlett/informant" target="_github">Source</a></div>
    </footer>

    <div id="modalAddRepo" class="modal hide">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Add Github Repository</h3>
      </div>
      <div class="modal-body">
        <form id="formAddRepo" class="form-horizontal" method="post" action="/addrepo">
          <fieldset>
            <div class="control-group">
              <label class="control-label" for="repoName">Repo name</label>
              <div class="controls">
                <input type="text" id="repoName" class="span2 required" name="repo_name" placeholder="Github repository name"/>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="owner">Owner</label>
              <div class="controls">
                <input type="text" id="repoOwner" class="span2 required" name="owner" placeholder="Repository owner"/>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="private">Private</label>
              <div class="controls">
                <label class="checkbox">Private Repository<input id="privateRepo" type="checkbox" name="private"/></label>
                <div class="help-block">Use the Github Authorization link to setup access</div>
                <input id="privateAccount" type="text" name="private_account" disabled="true" placeholder="Github Account"/>
                <div class="help-block">Authorized account used to access repository information</div>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="options">Options</label>
              <div class="controls">
                <label class="checkbox">Pull-Requests<input type="checkbox" name="pull_requests"/></label>
                <div class="help-block">Informant will monitor the repository for these changes</div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#" id="btnAddRepo" class="btn btn-primary">Add</a>
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="/static/bootstrap-alert.js"></script>
  <script src="/static/bootstrap-modal.js"></script>
  <script src="/static/bootstrap-dropdown.js"></script>
  <script src="/static/bootstrap-tooltip.js"></script>
  <script src="/static/bootstrap-popover.js"></script>
  <script src="/static/common.js"></script>
  <script src="/static/notifications.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect();
    socket.on('events', function (data) {
      var obj = JSON.parse(data);
      // check for github
      if (obj.hasOwnProperty('payload')){ // ignore non-github messages for now
        var p = JSON.parse(obj['payload']);
        createEvent(p.repository.name, p.ref + ' : ' + p.after + ' by ' + p.pusher.name, p.commits[0].message);
        if (webkitNotifications) {
          showNotification('Push to ' + p.repository.name, p.pusher.name + ' : ' + p.commits[0].message);
        }
      } else if (obj.hasOwnProperty('pull-request')){
        var pr = obj['pull-request'];
        createEvent(obj.repo + ' : ' + 'pull request', 'Pull request ' + pr.number + ' : ' + ' by ' + pr.user.login, '<a href="' + pr.html_url + '" target="_github">' + pr.html_url + '</a>');
        if (webkitNotifications) {
          showNotification('Pull request ' + pr.number + ' on ', pr.user.login + ' : ' + '<a href="' + p.html_url + '" target="_github">' + pr.html_url + '</a>');
        }
      }
    });
    function addGithubRepo(){
      $.ajax({
        type: 'POST',
        url: '/addrepo',
        data: $("#formAddRepo").serialize(),
        success: function(data){
          var d = JSON.parse(data);
          if (d.status == 'success'){
            flash('Repository added...');
          } else {
            flash('Error adding repository: ' + d.message);
          }
          $("#modalAddRepo").modal('hide');
        }
      });
    }
    $("#btnAddRepo").click(function(){
      // validate
      if (validateForm("formAddRepo")) {
        // check access if private repo
        var privateRepo = $("#privateRepo").prop('checked');
        var errors = false;
        addGithubRepo();
      }
    });
    $("#privateRepo").click(function(){
      if ($("#privateRepo").prop('checked')) {
        $("#privateAccount").prop('disabled', false);
      } else {
        $("#privateAccount").prop('disabled', true);
      }
    });
    $("#btn-enable-notifications").click(function(){
      if (webkitNotifications) {
        webkitNotifications.requestPermission(function(){});
      }
    });
    $(function(){
      // notification support
      if (webkitNotifications) {
        if (webkitNotifications.checkPermission() != 0) {
          $("#enable-notifications").removeClass('hide');
        }
      }
      $("#btnGithubAuth").tooltip({
        title: "Gives Informant access to your Github private repository information (pull request, etc.)",
        placement: "bottom",
        delay: {
          show: 650,
          hide: 100
        }
      });
    });
  </script>
</html>
